@import '../../mixins.scss';


.top-frame {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  height: 92px;
  margin-top: 60px;


  p {
    color: var(--color-black);
    text-align: center;
  }

  h4 {
    color: var(--color-black);
    text-align: center;
  }
}




@include tablet {
  .top-frame {
    max-width: 500px;
    margin-top: 40px;
  }
}

@include mobile {
  .top-frame {
    gap: 12px;
    margin-top: 30px;
  }
}
