/* You can add global styles to this file, and also import other style files */

//@import 'swiper/swiper.scss';


// light v2  #E6E8EC  #F4F5F6
:root {
  --color-light: #F4F5F6;
  --color-super-light: #FFF;
  --color-black: #000;
  --color-dark: #23262F;
  --color-medium-dark: #3B5266;
  --color-light-dark: #95A1BB;
  --content-width: 1120px;

  --h-font: DM Sans;
  --text-font: Poppins;
  --button-font: Inter;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--h-font);
  margin: 0;
  padding: 0;
}
h1{
 color: var(--color-black);
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 96px;
}
h2{
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}
h3{  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;}
h4{
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
h5{
  color: #141416;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

p{
  font-family: var(--text-font);
  margin: 0;
  padding: 0;
}
button{
  font-family: var(--button-font) !important;

}


@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans'), url('/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('/assets/fonts/Poppins/Poppins-Italic.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/assets/fonts/Lato/Lato-Light.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}
body{
  margin: 0;
}

:root{
  background-color: #F4F5F6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-dark-16{
  display: flex;
  border-radius: 90px;
  background: #141416;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  border: 0px;
  box-sizing: border-box;
  color: #FCFCFD;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  width: 100%;
}
.button-dark-14{
  display: flex;
  border-radius: 90px;
  background: #141416;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  border: 0px;
  box-sizing: border-box;
  color: #FCFCFD;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}
p{
  margin: 0px;
}





