<div class="nav-content">
  <div class="left-content">
    <div class="logo">
      <img class="svg-star" src="../../assets/svg/star.svg" alt="Star">
      <p class="p-logo">LOGO</p></div>
    <div class="line"></div>
    <p class="p-menu">Home</p>
    <p class="p-menu">Discover</p>
    <p class="p-menu">Blog</p>
    <p class="p-menu">About Us</p>
    <p class="p-menu last-child">Contact</p>
  </div>
  <div class="right-content">
  <div class="basket">
    <img  src="../../assets/svg/shopping-cart.svg" alt="basket icon">
    <div class="badge"><p class="p-basket">2</p></div>
  </div>

    <div class="account">
      <img src="../../assets/svg/account.svg" alt="account icon">
    </div>
  </div>
</div>
