<div class="navbar" [class.hide]="menuState === 'hide'">
  <div class="nav-content">
    <div class="left-content">
      <div class="logo">
        <img class="svg-star" src="../../assets/svg/star.svg" alt="Star">
        <p class=" cta_16">LOGO</p>
      </div>
      <div class="line"></div>
      <div id="menu-buttons" class="menu-buttons">
        <p class="p-menu text_16_bold">Home</p>
        <p class="p-menu text_16_bold">Discover</p>
        <p class="p-menu text_16_bold">Blog</p>
        <p class="p-menu text_16_bold">About Us</p>
        <p class="p-menu text_16_bold last-child">Contact</p>
      </div>


    </div>
    <div class="right-content">
      <div class="basket">
        <img class="img-basket" src="../../assets/svg/shopping-cart.svg" alt="basket icon">
        <div class="badge"><p class="p-basket text_12_semi_bold">2</p></div>
      </div>

      <div class="account">
        <img src="../../assets/svg/account.svg" alt="account icon">
      </div>




      <div class="phone-div" (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path d="M6.66659 10.6667C5.93021 10.6667 5.33325 11.2637 5.33325 12.0001C5.33325 12.7365 5.93021 13.3334 6.66659 13.3334H25.3333C26.0696 13.3334 26.6666 12.7365 26.6666 12.0001C26.6666 11.2637 26.0696 10.6667 25.3333 10.6667H6.66659Z" fill="#777E91"/>
          <path d="M6.66659 18.6667C5.93021 18.6667 5.33325 19.2637 5.33325 20.0001C5.33325 20.7365 5.93021 21.3334 6.66659 21.3334H25.3333C26.0696 21.3334 26.6666 20.7365 26.6666 20.0001C26.6666 19.2637 26.0696 18.6667 25.3333 18.6667H6.66659Z" fill="#777E91"/>
        </svg>
      </div>
    </div>


    <div *ngIf="showPhoneMenu" class="phone-menu-box" >
      <div  class="toggle-menu-buttons" >

        <div class="phone-menu-top">
          <div class="logo">
            <img class="svg-star" src="../../assets/svg/star.svg" alt="Star">
            <p class="p-logo text_16_bold">LOGO</p>
          </div>
          <svg (click)="toggleMenu()" xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.05703 7.55727C7.57773 7.03657 8.42195 7.03657 8.94265 7.55727L15.9998 14.6145L23.057 7.55727C23.5777 7.03657 24.4219 7.03657 24.9426 7.55727C25.4633 8.07797 25.4633 8.92219 24.9426 9.44289L17.8855 16.5001L24.9426 23.5573C25.4633 24.078 25.4633 24.9222 24.9426 25.4429C24.4219 25.9636 23.5777 25.9636 23.057 25.4429L15.9998 18.3857L8.94265 25.4429C8.42195 25.9636 7.57773 25.9636 7.05703 25.4429C6.53633 24.9222 6.53633 24.078 7.05703 23.5573L14.1142 16.5001L7.05703 9.44289C6.53633 8.92219 6.53633 8.07797 7.05703 7.55727Z" fill="#777E91"/>
          </svg>
        </div>

        <div class="phone-menu-bottom" >
          <p class="p-menu text_24_semi-bold">Home</p>
          <p class="p-menu text_24_semi-bold">Discover</p>
          <p class="p-menu text_24_semi-bold">Blog</p>
          <p class="p-menu text_24_semi-bold">About Us</p>
          <p class="p-menu last-child text_24_semi-bold">Contact</p>
        </div>
      </div>
    </div>
  </div>

</div>



<div *ngIf="pageShadow" class="page-shadow" (click)="toggleMenu()" ></div>
