@import '../../mixins.scss';

// logo animation //
@keyframes colorChange {
  0%, 100% { background-color: #E6E8EC; }
  25% { background-color: #04ea89; }
  75% { background-color: #f8b100; }
}



.page-shadow{
  width: 1000vw;
  height: 1000vh;
  background-color: rgba(5, 5, 5, 0.53);
  z-index: 300;
  position: fixed;
  backdrop-filter: blur(2px);
  transform: translate(-50%, -50%);
}


.main-content {
  filter: brightness(0.7);
  pointer-events: none;
}

.main-content:not(.overlay-open) {
  filter: none;
  pointer-events: auto;
}

.navbar{
  position: fixed;
  display: flex;
  width: 100vw;
  padding: 0;
  align-items: center;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  height: 92px;
  background-color: var(--color-super-light);
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
border-bottom: 2px solid var(--color-light);
}
.navbar.hide {
  transform: translateY(-100px) translateX(-50%);
  opacity: 0;
}


.nav-content {
  position: fixed;
  display: flex;
  width: 100%;
  min-width: 900px;
  max-width: var(--content-width);
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-super-light);
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);

  .left-content {
    display: flex;
    align-items: center;
    gap: 32px;
    max-width: 800px;
    height: 52px;
    box-sizing: border-box;

    .logo {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      width: 138px;
      height: 52px;
      padding: 16px 24px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 90px;
      background: var(--color-light);
      border: 0;
      box-sizing: border-box;
      animation: colorChange 5s infinite;
      @include hover-and-cursor(var(--hover-color-menu));

      .svg-star {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }

      .p-logo {
        color:  var(--color-light-dark);
        text-align: center;
      }
    }


    .line {
      width: 2px;
      height: 40px;
      border-radius: 2px;
      background: var(--color-light);
    }

    .menu-buttons {
      display: flex;
      align-items: center;
      gap: 16px;
     // max-width: 800px;
      height: 52px;
      box-sizing: border-box;

      .p-menu {
        color:  var(--color-light-dark);
        text-align: center;
        border-radius: 10px;
        padding: 8px 10px;

        @include hover-and-cursor(var(--hover-color-menu));
      }

      last-child {
        margin-right: 0;
      }
    }
  }


  .right-content {
   // max-width: 114px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 32px;
margin-right: 10px;

    .img-basket{
      margin-top: 5px;
    }
    .basket {
      display: inline-flex;
      padding: 10px;
      align-items: center;
      width: 44px;
      height: 44px;
      gap: 8px;
      border-radius: 10px;
      box-sizing: border-box;
      @include hover-and-cursor(var(--hover-color-menu));


      .badge {
        display: inline-flex;
        padding: 2px 6px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 12px;
        border: 1px solid var(--color-light-dark);
        background: #18191D;
        box-sizing: border-box;
        position: absolute;
        margin-bottom: 13px;
        margin-left: 10px;

        .p-basket {
          color: var(--color-super-light);
        }

      }
    }

    .account {
      display: flex;
      width: 24px;
      height: 24px;
      padding: 10px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 10px;
      @include hover-and-cursor(var(--hover-color-menu));

    }
  }
}

.toggleMenu-button{
  background-color: black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.phone-menu-box {
  border-radius: 20px;
  z-index: 100;
  background-color: var(--color-light);
  display: flex;
  right: 0;
  float: right;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  margin-top: 600px;
  transform: translateX(700px);
  opacity: 0;
  transition: transform 1s ease, opacity 0.7s ease;
  will-change: transform;

}

.phone-menu-box.expanded {
  transform: translateX(-5px);
  opacity: 1;
}


.toggle-menu-buttons{
  background-color: var(--color-super-light);
  display: flex;
  //width: 100%;
  float: right;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 64px;
  border-radius: 20px;
}
.phone-div{
  display: block;
}


@media only screen and (min-width: 1025px) {
  #toggle-menu-buttons{
    display: none;
  }
  .nav-content {
    .left-content {
      #dd {
         display: none;
      }
    }
  }
  .phone-div{
    display: none;
  }
}

@include tablet {
  #toggle-menu-buttons{
    display: none;
  }
  .nav-content {
    min-width: 500px;
    .left-content {
      gap: 24px;
      #dd {
        display: none;
      }
      .menu-buttons {
        gap: 6px;
      }
    }
    .right-content{
      gap: 20px;
      margin-right: 10px;
    }
  }
  .phone-div{
    display: none;
  }
}

@include mobile {

  .nav-content {
    min-width: 250px;
    width: 100vw;

    .left-content {
      gap: 24px;
      .logo{
        background-color: var(--color-super-light);
        color: var(--color-dark);
      }
      .line{
        display: none;
      }
      #menu-buttons {
        display: none;
      }
    }
    .right-content{
      padding-right: 15px;
    }
  }
  .p-menu{
    color: var(----color-menu-text);
    width: 100%;
    height: 65px;
    padding-left: 30px;

  }
  .phone-menu-top{
    width: 85vw;
    background-color: var(--color-super-light);
    display: flex;
    flex-direction: row;
    padding: 48px 24px 32px 32px;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 20px;

  }
  .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    .p-logo {
      text-align: center;

    }
  }
  .phone-menu-bottom{
    background-color: var(--color-super-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;

  }
}


