<div class="body">
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>
  <div class="line"></div>
  <div class="main">
    <div class="form-register">
      <div class="box">
        <h2>Create your account</h2>
        <p class="p-under-title">It’s free and easy</p>
      </div>
      <form class="form">
        <div class="box">
          <label for="name" class="label-form-title">Full name</label>
          <input type="text" id="name" class="input" placeholder="Enter your name">
        </div>
        <div class="box">
          <label for="emailOrPhone" class="label-form-title">E-mail or phone number</label>
          <input type="text" id="emailOrPhone" class="input" placeholder="Type your e-mail or phone number">
        </div>
        <div class="box">
          <label for="password" class="label-form-title">Password</label>
          <input type="text" id="password" class="input" placeholder="Type your password">
          <p class="p-forgot-password">Forgot Password?</p>
        </div>
        <div class="box-row">
          <img src="../../assets/svg/checkbox-default.svg" alt="checkbox icon">
          <p class="p-checbox">By creating an account means you agree to the <strong>Terms and Conditions</strong>, and
            our <strong>Privacy Policy</strong></p>
        </div>
        <button class="button-dark-16 margin-bottom-20px">Sign In</button>
        <div class="box">
          <div class="social-top">
            <div class="social-line"></div>
            <p class="p-social">or do it via other accounts</p>
            <div class="social-line"></div>
          </div>
          <div class="social-icons margin-bottom-20px">
            <div class="google-icon-background">
              <img class="" src="../../assets/svg/google.svg" alt="Google icon">
            </div>
            <img class="svg-icon" src="../../assets/svg/apple.svg" alt="Apple icon">
            <img class="svg-icon" src="../../assets/svg/facebook.svg" alt="Facebook icon">

          </div>
        </div>
      </form>
    </div>
      <div class="p-frame">
        <h6 class="regular-text">Don’t have an account? <span class="sing-up"> Sign Up</span></h6>
      </div>
    </div>
  </div>

