.main{
  display: flex;
  justify-content: center;
  height: 165px;
  background-color: var(--color-super-light);
  .search-frame{
    display: flex;
    align-items: center;
    gap: 68px;
    width: 1115px;
    height: 48px;
    margin-top: 81px;

    box-sizing: border-box;
    .localization{
      display: flex;
      align-items: center;
      box-sizing: border-box;
      .input{
        width: 173px;
        margin-left: 13px;
        margin-right: 18px;
        color: var(--color-dark);
        border: 0px;
       // font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .best-deals{
      display: flex;
      align-items: center;
      box-sizing: border-box;
      .input{
        width: 72px;
        margin-left: 8px;
        margin-right: 7px;
        color: var(--color-dark);
        border: 0px;
      //  font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .search-bar{
      display: flex;
      padding-left: 16px;
      align-items: center;
      width: 467px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 10px;
      background: var(--color-super-light);
      box-sizing: border-box;
      .input{
        width: 338px;
        background-color: var(--color-super-light);
        color: #626264;
        font-feature-settings: 'clig' off, 'liga' off;
       // font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        border: 0px;
      }
    }
    .button{
      width: 53px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 10px;
      background: var(--color-dark);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
