@import '../../_variables.scss';


.body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFF;


  .sidenav {
    width: 48vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background: #353945;
  }

  .line {
    width: 1px;
    background: #EDF2F7;
    border: 1px;
    margin-right: 1px;
  }

  .main {
    margin-top: 34px;
    margin-left: 25px;
    padding-bottom: 50px;
    padding-top: 50px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    min-width: 51vw;
    min-height: 100%;


    .form-register {
      display: flex;
      border: 0;
      box-sizing: border-box;
      max-width: 424px;
      max-height: 524px;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      margin-bottom: 50px;

      h2 {
        align-self: stretch;
        color: #27272E;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 136%;
        margin: 0px;
      }

      .p-under-title {
        align-self: stretch;
        color: #27272E;
        font-feature-settings: 'salt' on;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 162%;
        margin: 0px;
        margin-top: 12px;
      }
    }

    .form {
      display: flex;
      padding-top: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      box-sizing: border-box;

      .box {
        width: 100%;
        box-sizing: border-box;

        .p-forgot-password {
          max-width: 424px;
          color: #777E90;
          text-align: right;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Inter;
          font-size: 11px;
          font-style: normal;
          font-weight: 400;
          line-height: 12px;
          margin-top: 8px;
        }
      }

      .label-form-title {
        color: #425466;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0px;
        padding: 0px;
      }

      .input {
        display: flex;
        height: 46px;
        padding: 14px 16px 16px 16px;
        align-items: center;
        align-self: stretch;
        border-radius: 6px;
        border: 0px;
        box-sizing: border-box;
        background-color: #F4F5F6;
        color: #7A828A;
        width: 424px;
        margin-top: 8px;
        //font
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 15px;
      }

      .box-row {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .p-checbox {
          color: #425466;

          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;

        }
      }
    }

    .social-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;

      .social-line {
        max-width: 114px;
        height: 1px;
        background: #EDF2F7;
      }

      .p-social {
        color: #718096;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.08px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .social-icons {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 32px;
      max-width: 220px;
      height: 52px;
      margin: auto;

      .svg-icon {
        width: 52px;
        height: 52px;
      }

      .google-icon-background {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1px;

        width: 52px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 26px;
        background: #FFF;
        box-shadow: 0px 1px 3px 0px rgba(50, 50, 71, 0.10), 0px 0px 1px 0px rgba(12, 26, 75, 0.20);
      }
    }

    .p-frame {
      height: 24px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;

      h6 {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin: 0;
      }

      .regular-text {
        color: #718096;
        text-align: right;
      }

      .sing-up {
        color: $primary-black;
      }
    }
  }
}




@media only screen and (min-width: 1025px) {
  .body .main .form .input {
    width: 424px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .body {
    align-items: flex-start;
    .sidenav {;
    }
    .main {
      margin: 0;

      .form {
        max-width: 350px;
        .input {
          max-width: 350px;
        }
        .box-row {
          .p-checbox {
            max-width: 350px;

          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .body {
    flex-direction: column;
    .sidenav {
      width: 100%;
    }
    .main {
      width: 100%;
      height: 100vh;
      margin: 0;
      .form {

        max-width: 300px;
        .input {
          max-width: 300px;
        }
        .box-row {
          .p-checbox {
            max-width: 300px;

          }
        }
      }
    }
  }
}


