.logo{
  display: flex;
  position: absolute;
  width: 178px;
  height: 66px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 90px;
  background: #FCFCFD;
  margin-top: 52px;
  margin-left: 52px;
  border: 0;
  box-sizing: border-box;
  .svg-star{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
  .p-logo{
    color: #23262F;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
  }

}
