$content_width: 1120px;
$color_light: #F4F5F6;
$color_super_light: #FCFCFD;
$color_medium: #777e90;
$color_black: #23262F;
$nav_gap: 32px;

$titles_text: DM Sans;
$btn_font: DM Sans;
$text_font: Poppins;
* {
  box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1{
  font-family: DM Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0;
}

p{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.subtitle{
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.margin-bg-light{
  background-color: $color_light;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-light{
  background-color: $color_light;
}

.margin-bg-super-light{
  background-color: $color_super_light;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-super-light{
  background-color: $color_super_light;
}

.container {
  width: 100vw;
  max-width: $content_width;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
}

.full-width{
  width: 100%;
}

.button{
color: $color_super_light;
text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 16px;
display: flex;
max-width: 195px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 90px;
background: #141416;
border: 0;
}

//////////////////   MENU   //////////////////

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  &__divider{
    width: 2px;
  height: 40px;
  border-radius: 2px;
  background-color: $color_light;
  }


  &__left {
    display: flex;
    align-items: center;
    gap: $nav_gap;
  }
  &__item {
    color: #777e90;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $nav_gap;
  }

  &__logo {
    background-color: $color_light;
    padding: 16px 24px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 90px;
    background: $color_light;
    border: 0;
    box-sizing: border-box;
    gap: 8px;
  }
  .p-logo {
    color: $color_black;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
  &__icon {
    display: inline-flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 3px;
  }
  &__badge {
    display: inline-flex;
    padding: 2px 6px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #777e90;
    background: #18191d;
    box-sizing: border-box;
    position: absolute;
    margin-bottom: 18px;
    margin-left: 10px;
  }
  &__p {
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }
}




.padding-top-bot-160{
  padding: 160px 0;
}

.content {
display: flex;
justify-content: space-between;
align-items: center;


  &__text-wrapper {
    max-width: 600px;
    gap: 32px;
  }
  &__img-wrapper {
    max-width: 375px;
    display: flex;
    justify-content: flex-end;
  }
}
