.main{
  width: 100%;
  min-width: 900px;
  display: flex;
  max-width: calc(1440px - 320px);
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  background-color: #F4F5F6;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;

  .title{
    color: #141416;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-top: 54px;
    margin-left: 222px;
  }
  .frame{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 32px;
    justify-content: space-between;

    .section{
      display: flex;
      flex-direction: column;
      .section-title{
        margin: 0px;
        margin-bottom: 20px;
        color: #3B5266;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
      .section-frame{
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        .icon-box{
          display: flex;
          flex-direction: row;
          gap: 20px;
        }
        p{
          color: #363940;
          margin: 0px;
          font-feature-settings: 'clig' off, 'liga' off;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
  .footer{
    margin-top: 32px;
    display: inline-flex;
    height: 64px;
    margin-left: 60px;
    justify-content: space-between;
    align-items: flex-start;

    flex-shrink: 0;
    .language{
      display: flex;
      width: 120px;
      height: 22px;
      padding-right: 1px;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      gap: 10px;
      p{
        color: #95A1BB;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;}
    }
    .copyright{
      color: #95A1BB;
      margin: 0px;
      max-width: 350px;
      text-align: right;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}




@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    min-width: 600px;
    .frame{
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .main {

  }
}
