@import '../../mixins.scss';

.main {
  width: 100%;
  display: flex;
  max-width: var(--content-width);
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;


  .title {
    float: left;
    width: 100%;
    max-width: 900px;
    margin-top: 54px;
  }

  .frame {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    //gap: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0 !important;
    margin-right: 0 !important;

    .section {
      display: flex;
      flex-direction: column;
      min-width: 145px;

      .section-title {
        margin: 0;
        margin-bottom: 20px;
        color: var(--color-medium-dark);

      }

      .section-frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;

        .icon-box {
          display: flex;
          flex-direction: row;
          gap: 20px;
        }

        p {
          color: var(--color-medium-dark);
        }
      }
    }
  }

  .footer {
    margin-top: 32px;
    display: inline-flex;
    //height: 64px;
    background-color: var(--color-light);
    // margin-left: 60px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;

    flex-shrink: 0;

    .language {
      display: flex;
      width: 120px;
      height: 22px;
      padding-right: 1px;
      justify-content: center;
      align-items: flex-start;
      flex-direction: row;
      gap: 10px;

      p {
        color: var(--color-light-dark);
        font-feature-settings: 'clig' off, 'liga' off;
      }
    }

    .copyright {
      color: var(--color-light-dark);
      margin: 0px;
      max-width: 350px;
      text-align: right;
      font-feature-settings: 'clig' off, 'liga' off;
    }
  }

  .svg {
    fill: var(--color-black);
    @include hover-and-cursor(var(--hover-color-buttons-footer));
    border-radius: 5px;
    transition: fill 0.3s ease-in-out;
  }
  .svg:hover{
    fill: var(--color-dark);
    cursor: pointer;
    transition: fill 0.3s ease-in-out;
  }


 ////// LANGUAGE MENU  /////
  .select-options-box {
    //width: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    height: 0;
    overflow: auto;
   background-color: var(--color-super-light);
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: var(--color-light-dark);
      font-feature-settings: 'clig' off, 'liga' off;
      padding: 8px 20px;
      border-radius: 10px;
      overflow: visible;
      @include hover-and-cursor(var(--hover-color-menu));

    }
  }
  @keyframes expandHeight {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 150px;
      height: 100%;
    }
  }
  @keyframes collapseHeight {
    0% {
      max-height: 150px;
      height: 100%;
    }
    100% {
      max-height: 0;
    }
  }
  .menu-open .select-options-box {
    animation: expandHeight 1s forwards;
  }
  .menu-closed .select-options-box {
    animation: collapseHeight 1s forwards;
  }


}


@include tablet {
  .main {
    min-width: 600px;

    .frame {
      margin-left: 20px;
      margin-right: 20px;
      gap: 20px;
    }

    .footer {
      //  margin-left: 20px;
      min-width: 700px;
    }
  }
}

@include mobile {
  .main {
    .frame {
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }

    .footer {
      min-width: 200px;
    }

    .svg {
      max-width: 140px;
    }

    .footer {
      margin-left: 10px;
    }
  }
}









