@font-face {
  font-family: 'DM Sans';
  src: local('DM Sans'), url('/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}



$primary-black: #141416;;
$secondary-color: #2ecc71;
