
/////  v2  dobry ///////
@mixin hover {
  @include desktop {
    &:hover {
      @content;
    }
  }
}


@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1025px)  {
    @content;
  }
}







/*
@function font-size($size) {
  @return $size * 1px;
}

@mixin text-style($size, $weight: 400) {
  font-size: font-size($size);
  font-weight: $weight;
  font-family: var(--text-font);
  line-height: 24px;
  @content;
}

@mixin cta-style($size, $weight: 700) {
  font-size: font-size($size);
  font-weight: $weight;
  font-family: var(--button-font);
  line-height: 16px;
  @content;
}

*/

