@mixin hover-and-cursor($color, $show: true) {
  @media only screen and (min-width: 1025px) {

    @if $show {
      &:hover {
        background-color: $color;
        cursor: pointer;
      }
    } @else {
      &:hover {
        background-color: initial;
        cursor: initial;
      }
      &.pointy {
        cursor: initial;
      }
    }
  }

}
