.img-box {
  width: 25vw;
  max-width: 360px;
  height: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B1B5C3;

}

@media only screen and (max-width: 767px) {
  .img-box {
    width: 50vw;
  }
}
