@import '../../mixins.scss';

.main{
  max-width: 350px;
  min-height: 345px;
  flex-shrink: 0;
  background-color: var(--color-light);
  border-radius: 20px;
 padding: 20px 10px 10px 10px;
  box-sizing: border-box;
  .comment{
    color: var(--color-medium-dark);
    max-width: 350px;
  }
  .bottom-frame{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 45px;
    margin-bottom: 30px;

    .icon{
      margin-right: 20px;
      width: 60px;
      height: 60px;
    }
    .name{
      color: var(--color-medium-dark);
      max-width: 350px;
    }
    .description{
      color: #555;
      max-width: 350px;
    }
  }
}


@include tablet{
  .main {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 310px;
    height: 350px;
    .bottom-frame{
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

@include mobile {
  .main {
  max-width: 265px;
  }
}
