.slider {
  display: flex;
  width: 100%;
  min-width: 900px;
  max-width: calc(1440px - 320px);
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  background-color: #FCFCFD;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  padding-top: 105px;
  .svg-box {
    display: flex;
    width: 372px;
    height: 372px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    margin-top: 100px;
    .topic {
      color: #141416;
      font-family: DM Sans;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -1px;
      margin: 0px;
    }

    .under-topic {
      color: #000;
      margin: 0px;
      margin-top: 32px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .dots-box {
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
