.slider {
  width: 1440px;
  height: 601px;
  flex-shrink: 0;
  background: #FCFCFD;
  display: flex;
  flex-direction: row;

  .svg-box {
    display: flex;
    width: 372px;
    height: 372px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 104px;
    margin-left: 160px;
  }

  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 591px;
    height: 208px;
    margin-top: 224px;
    margin-left: 195px;

    .topic {
      width: 591px;
      height: 127px;
      color: #141416;
      font-family: DM Sans;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px; /* 100% */
      letter-spacing: -1.28px;
      margin: 0px;
    }

    .under-topic {
      width: 549px;
      height: 49px;
      color: #000;
      margin: 0px;
      margin-top: 32px;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }

  .dots-box {
    position: absolute;
    width: 80px;
    height: 9px;
    margin-left: 680px;
    margin-top: 575px;
    margin-bottom: 17px;

  }
}
