.main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img{
  width: 100%;
  height: auto;
}
.slider {
  display: flex;
  width: 100%;
  max-width: var(--content-width);
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-super-light);
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
  padding-top: 105px;
  padding: 0 20px ;
  .img-box {
    display: flex;
    max-width: 500px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 100px;
  }

  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    margin-top: 100px;
    .topic {
      color: var(--color-dark);
    //  font-family: DM Sans;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -1px;
      margin: 0px;
    }

    .under-topic {
      color: var(--color-dark);
      margin: 0px;
      margin-top: 32px;
     // font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .dots-box {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



@media only screen and (min-width: 1025px) {
  .main {}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .slider {
    min-width: 600px;
    padding-top: 50px;
    gap: 20px;
    justify-content: center;
    .img-box {
    max-width: 450px;
    }

    .frame{
      max-width: 450px;
      h1{
        font-size: 64px;
        line-height: 64px;
      }
    }
    .dots-box{
      margin-top: 120px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .slider {
    background-color: var(--color-light);
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    .frame{
      margin-top: 0px;
    }
    .dots-box {
      display: none !important;
    }
    .svg-box {
      width: 100px;
      height: 100px;
      margin-top: 65px;
      margin-bottom: 50px;
    }
  }

}
